/*......................... BODY OF THE PAGE .....................*/
body, html {
    background-color: darkgoldenrod;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: inherit;
    font-weight: initial;
}
.section1 {
    max-width: 80%;
    clear: left;
}
.section2 {
    max-width: 80%;
}
.article1{
    max-width: 100%;
}
.aside1{
    max-width: 20%;
}
.aside2{
    max-width: 20%;
}
/*......................HEADER...............................*/
header{
    background-color: khaki;
}


/*......................BUTTON...............................*/

.button1:hover {
    background-color: blue;
    color: brown;

}
.button1 :active{
    color: yellow;
    background-color: teal;
}
/*------------------------------------Navigation----------------------------------*/
#nav{
    margin: 0;
    padding: 0;
    height: 50px;
    background-color: white;
}
#nav ul{
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
}
#nav ul li {
    float: left;
    margin: 0;
    padding: 0;
    width: 100px;
    position: relative;
    text-align: center;
    list-style-type: none;
}
#nav ul li a{
    display: block;
    text-decoration: none;
    color: red;

}
#nav ul li ul {
    display: none;
    width: 200px;
    position: absolute;
    overflow: visible;
    
}
#nav ul li:hover ul{
    margin-top: 5px;
    margin-left: -60px;
    display: block;
}
#nav ul li:hover ul a {
    color: blue;
}
/*......................FOOTER.................*/
@media screen and (max-width:700px){
    #nav{
        margin: 0;
        padding: 0;
        height: 150px;
        background-color: white;
    }
    #nav ul li {
        float: none;
    }
    #nav ul li:hover ul{
        margin-top: -20px;
        margin-left: 30px;
        display: block;
        width: 100%;
        
    }

}